
body {
    background-color: black;
}

.main{
    background-color: white;
}
.footer{
    background-color: white;
}
.header{
    background-color: aqua;

}
.container{
    width: 85%;
    text-align: center;
    margin: auto;
}
